.basket {
  background-color: rgba(35, 37, 38, 1);
  max-width: 150px;
  display: flex;
  align-items: start;
  line-height: 24px;
  position: fixed;
  left: 68.5%;
  padding: 15px 17px;
}

.basket__title {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 0;
}

.basket__subtitle {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}

.basket__button {
  color: #fff;
  background-color: rgba(248, 102, 0, 1);
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin: 0;
  padding: 12px 16px;
  font-size: 16px;
  letter-spacing: .5px;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 769px) {
  .basket {
    top: 15.8%;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    max-height: 161px;
    flex-direction: column;

  }

  .basket__subtitle {
    margin: 1px 0 33px;
  }
}

@media screen and (max-width: 768px) {
  .basket {
    top: auto;
    bottom: 0;
    left: 0;
    min-width: 100vw;
    max-height: 81px;
    justify-content: space-between;
  }

  .basket__button {
    align-self: flex-end;
    margin-right: 32px;
  }

  .basket__subtitle {
    margin: 0;
  }
}