.basket {
  grid-row: 2/3;
  grid-column: 3/4;
  background-color: rgba(35, 37, 38, 1);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  max-width: 150px;
  max-height: 161px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
  line-height: 24px;
}

.basket__title {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin: 16px 15px 0;
}

.basket__subtitle {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: 1px 15px 0;
}

.basket__button {
  color: #fff;
  background-color: rgba(248, 102, 0, 1);
  border: none;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  margin: auto 16px 15px 16px;
  padding: 15px 17px;
  font-size: 16px;
  letter-spacing: .5px;
}