.element {
  margin-bottom: 23px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.element__date {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  letter-spacing: .3px;
}

.element__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-top: 6px;
}

.element__description {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 6px;
}

.element__distance {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  background-image: url('../../images/icon_arrow.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding: 0 1px 10px;
}

.element__name{
  margin: 0;
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.element__diameter {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.element__img {
  margin: 6px 7px 0;
}

.element__button {
  border: none;
  background-color: rgba(248, 102, 0, .15);
  width: 90px;
  height: 24px;
  font-weight: 700;
  font-size: 11px;
  line-height: 20px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 0;
  margin-top: 11px;
  letter-spacing: 1px;
  color: rgb(248, 102, .1);
}

.element__button_active{
  color:rgba(245, 222, 217, 1)
}

.element__danger {
  display: inline-block;
  margin: 0 0 0 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}